<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="head" id="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hotel</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/static/css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{/static/css/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/static/css/app.css}" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-default " th:fragment="navbar" id="navbar">
    <div class="container-fluid headresume">
        <!-- Brand и toggle сгруппированы для лучшего отображения на мобильных дисплеях -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>x
            </button>
            <a class="navbar-brand" href="/">Hotel</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!--&lt;!&ndash;<li><a class="btn btn-default" href="/sign-in">Sign in</a></li>&ndash;&gt;-->
                    <a sec:authorize="isAnonymous()" href="/sign-in" class="btn sign-in btn-success">Sign in</a>
                    <a sec:authorize="isAuthenticated()" href="/logout" class="btn sign-in btn-success">Logout</a>


                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                <!--aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

 <!--page-->



<div th:fragment="js" th:remove="tag" id="js">
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/application.js"></script>
</div>

</body>
</html>